#content {
	color: #333;
	background-color: #fff;
	font-size: .8em;
	font-family: arial, verdana, helvetica, sans-serif;
	line-height: 1.5em;
	width: 92%;
	}

.Categorytext {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 22px; 
	font-style: italic; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
}
.titletext {
	font-family: "trebuchet ms", "lucida grande", arial, helvetica, sans-serif; 
	font-size: 22px; 
	font-style: normal; 
	font-weight: bold; 
	color: #333; 
	text-decoration: none; 
}
.navtext {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: italic; 
	font-weight: bold; 
	color: #ffffff; 
	text-decoration: none; 
}
.navtext2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: italic; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
}
.navtext3 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: italic; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none; 
}
.text1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	font-weight: normal; 
	color: #ffffff; 
	text-decoration: none; 
}
.text3{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-style: italic; 
	font-weight: bold; 
	color: #cc0000; 
	text-decoration: none; 
}
.text4{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20px; 
	font-style: italic; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
	background-color:#CCCCCC;
}
.faqquestion{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: italic; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
	background-color:#CCCCCC;
}
.text10{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: .92em; 
	font-style: italic; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
	background-color:#CCCCCC;
}
.faqanswer{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	font-style: normal; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none; 
	background-color:#CCCCCC;
}
.text5 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
}
.modifiedtxt {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: bold; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
}
.smalltxt {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: .58em; 
	font-style: bold; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
}
.steptext2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-weight: bold; 
	color: #ffffff; 
	text-decoration: none; 
}
.text8 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-style: normal; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
}
.text6 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20px; 
	font-style: italic; 
	font-weight: bold; 
	color: #00ccff; 
	text-decoration: none; 
}
.text7 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: italic; 
	font-weight: bold; 
	color: #00ccff; 
	text-decoration: none; 
}
.text9 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-weight: bold; 
	color: #eeeeee; 
	text-decoration: none; 
}
.box {
	BORDER-RIGHT: #990000 2px solid; BORDER-TOP: #990000 2px solid; BACKGROUND: #ffffff; BORDER-LEFT: #990000 2px solid; COLOR: #000000; BORDER-BOTTOM: #990000 2px solid
}
.navtdbkground{
border-right: 1px #000000 solid;
border-left: 1px #000000 solid;
background-color:#666666;
}
.redtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #CC0000;
}

a.linkcolor2:link { color: #000000; font-size: 14px; font-family:Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: underline; background-color: transparent; cursor: pointer;}
a.linkcolor2:visited { color:#000000; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: underline; background-color: transparent; cursor: pointer;}
a.linkcolor2:hover { color: #cc0000; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: none; background-color: transparent; cursor: pointer;}
a.linkcolor2:active { color: #cc0000; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: underline; background-color: transparent; cursor: pointer;}


a.linkcolor4:link { color: #cc0000; font-size: .77em; font-family:Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: underline; background-color: transparent; cursor: pointer;}
a.linkcolor4:visited { color:#cc0000; font-size: .77em; font-family: Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: underline; background-color: transparent; cursor: pointer;}
a.linkcolor4:hover { color: #000000; font-size: .77em; font-family: Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: none; background-color: transparent; cursor: pointer;}
a.linkcolor4:active { color: #cc0000; font-size: .77em; font-family: Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;  text-decoration: underline; background-color: transparent; cursor: pointer;}

a.linkcolor3:link {
color : #ffcc33; 
font-size : 14px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-weight : bold; 
text-decoration : underline; 
background-color : transparent; 
cursor : pointer; 
text-indent : 4px; 
} 
a.linkcolor3:visited {
color : #ffcc33; 
font-size : 14px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-weight : bold; 
text-decoration : underline; 
background-color : transparent; 
cursor : pointer; 
text-indent : 4px; 
} 
a.linkcolor3:hover {
color : #ffffff; 
font-size : 14px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-weight : bold; 
text-decoration : none; 
background-color : transparent; 
cursor : pointer; 
text-indent : 4px; 
} 
a.linkcolor3:active {
color : #000000; 
font-size : 14px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-weight : bold; 
text-decoration : underline; 
background-color : transparent; 
cursor : pointer; 
text-indent : 4px; 
} 
.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #ffcc33;
	font-style: italic;
}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffcc33;
	font-style: italic;
}
.style6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #00ff66;
	font-style: italic;
}
.steptext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .85em;
	font-weight: normal;
	color: #000000;
	font-style: normal;
}
.required {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #CC0000;
}
.submitmessage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0000FF;
}
.paragraphred {
font-family : Arial, Helvetica, sans-serif; 
font-size : 0.92em; 
font-style : normal; 
font-weight : normal; 
color : #cc0000; 
text-decoration : none; 
} 
