<STYLE TYPE="text/css">

<!-- BODY { background-image:url(newback.gif) repeat-y position: top center } 



A { color:navy; font-family:times; font-size:12pt; font-weight:bold }

A hover { color:red }

H1 { color:navy; font-family:times; font-size: 22pt; font-weight:bold }

H2 { color:white; font-variant:small caps; font-family:times; font-size:14pt; font-weight:bold } 

H3 { color:#660066; font-family:times; font-size:12pt }

.clsblue { font-family:arial;  font-size:8pt; color:#ccffff; font-weight:bold }

.clsnavy { font-family:times; font-size:9pt; color:navy }

SPAN { background-color: navy; color:white; } 

-->

</STYLE> 

