/* Style sheet for Lib 212 media="screen" */
/* File name is main.css */


body {
margin: 0;
padding: 0;
font-family: verdana, arial, helvetica, sans-serif;
color: #000;
background-color: #fff;
}

/* Banner across top of page that says the name of the whole site */

#main-title {
margin: 0;
padding: 17px 80px 17px 0px;
color: #006;
background-color: #dedede;
font-weight: bold;
font-size: .9em;
text-align: right;
letter-spacing: 5px;
border-bottom: 5px #006 solid;
}

/* heading level 1 is not contained in main-text. */

h1 {
margin: 0px 0px 15px 0px;
padding: 7px 0px 10px 190px;
color: #fff;
background-color: #f30;
font-size: 1em;
font-weight: bold;
letter-spacing: 5px;
border-top: 5px #006 solid;
border-bottom: 2px #006 solid;
}

/* Styles for the main text on the page. */

#main-text {
margin: 0px 50px 50px 195px;
}

p, ul, ol, table {
margin: 0px 0px 17px 0px;
padding: 0;
font-size: .8em;
line-height: 1.5em;
}

ul.square {
list-style-type: square;
}

ul.none {
list-style-type: none;
}

ul li {
line-height: 1.75em;
}

#main-text#citation {
color: #000; 
background-color: #ededed; 
padding: 14px 7px 0px 7px; 
border: 1px solid silver; 
margin-bottom: 10px;
}

/* style for citations where only first line is flush left, others indented */

p.hang {
text-indent: -3em;
margin-left: 3em;
}

p.indent {					/* left and right margins indented */
text-indent: 3em;
}


p.orange-border {			/* double orange border */
border: 6px double #f30; 
padding: 5px;
}

p.validation {
text-align: center;
}

p.validation img {
border: 0;
}

p.bold {
font-weight: bold;
}

.highlight {				/* yellow background, black font */
color: #000;
background-color: #ffc;
}

.orange {					/* orange on orange, used in navbar */
color: #006; 
background-color: #006
}

.weekend {
color: #000;
background-color: #ffc;
}

.practices {
color: #f30; 
background-color: #fff; 
font-weight: bold;
}

.odd {
background-color: #ededed; /* Class declared for alternate rows of color used in tables */
color: #000;
}
	
td {
padding: 4px;
border: 1px solid #000;	
}

h2 {
margin: 0px 0px 15px 0px;
padding: 0;
font-size: .9em;
color: #006;
background-color: #fff;
font-weight: bold;
}

h3 {
margin: 0px 0px 10px 0px;
padding: 0;
font-size: .8em;
color: #006;
background-color: #fff;
font-weight: bold;
}


h4 {
margin: 10px 0px 10px 0px;
padding: 5px;
font-size: .8em;
color: #000;
background-color: #ededed;
font-weight: bold;
}

ol, ul {
margin-left: 25px;
}

/* link styles */


a:link, a:visited {
color: #f30;
background-color: inherit;
text-decoration: underline;
font-weight: bold;
}

a:hover {
color: #006;
background-color: inherit;
text-decoration: underline;
font-weight: bold;
}


/******************************** External links ***************************/


abbr, acronym, dfn {
font-style: normal;
border-bottom: 1px dotted gray;
}
			
abbr {
speak: spell-out;
}
			
acronym {
speak: normal;
}


/* calendar styles */

#calendar {
line-height: 1em;
}

#calendar table {
margin-left: 0; 
width: 96%; 
border: 1px solid #000;
border-collapse: collapse;
}

#calendar td {
height: 50px;
width: 100px;
vertical-align: top;
}

#calendar th {
border: 1px solid #000;
}

#calendar th.month {
color: #fff;
background-color: #006;
font-size: 1.1em;
}

#calendar td.holiday {
color: #000;
background-color: #ededed;
} 

#calendar p {
font-size: .9em;
line-height: 1.1em;
color: #333;
background: transparent;
text-align: right;
}

#calendar a:link, #calendar a:visited, #calendar a:hover {
color: inherit;
background-color: #fff;
text-decoration: none;
}


/* calendar arrow styles */

#arrow {
margin-left: 32%;
}

#arrow a:link, #arrow a:visited, #arrow a:hover {
color: inherit;
background-color: #fff;
text-decoration: none;
}

#arrow img {
border: 0px;
width: 56px;
height: 40px;
}

/* print styles */

#url {
display: none;
}

#footer-print {
display: none;
}


/* styles for the navbar on the left side. */

#left-menu {
position: absolute;
top: 70px;
left: 0;
width: 165px;
text-align: right;
background-color: #006;
border-bottom: 2px #f30 solid;
border-right: 2px #f30 solid;
padding-top: 60px;
padding-bottom: 60px;
}

#left-menu p {
padding-right: 5px;
margin-bottom: 0;
border-bottom: 2px #f30 solid;
font-size: .75em;
line-height: 25px;
}

#left-menu a:link, #left-menu a:visited {
color: #fff;
text-decoration: none;
}

#left-menu a:hover, #left-menu a.current {
color: #f30;
text-decoration: none;
}

#e-zteach {
position: absolute;
top: 550px;
left: 0;
text-align: left;
font-size: .7em;
background-color: #fff;
color: #00514a;
background-color: transparent;
padding-top: 20px;
padding-left: 20px;
}


/* styles for the footer at the bottom of the page */

#footer {
text-align: right;
color: #454f56;
margin-bottom: 0;
padding-top: 7px;
padding-bottom: 7px;
border-top: 1px #f30 solid;
font-size: .7em;
font-weight: bold;
padding-right: 50px;
}

#footer a:link, #footer a:visited {
color: #f30;
}

#footer a:hover {
color: #454f56;
}



/* End of Lib 212 style sheet */